

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&family=Unna&display=swap');



body {font-family: 'Unna', serif;
    margin:0;
    background: #bbb url(../images/bg.jpg) fixed no-repeat;
}
header {
    background: #bbb url(../images/grass.jpg) fixed no-repeat;
    padding-bottom: 6rem;
}
h1 {
    font-family: 'Red Hat Display', sans-serif;
    margin:0;
    text-align:center;
    background: rgba(50, 50, 50, .8);
    color:#eee;
    font-weight:normal;
    text-shadow: 0px 2px 2px black;
}
.site-nav {
    background: rgba(50, 50, 50, .8);
    margin:0;
    padding-top: 1rem;
}
.site-nav ul {
    margin:0 auto;
    text-align:center;
}
.site-nav li {
    font-family: 'Red Hat Display', sans-serif;
    display:inline-block;
    margin: 1rem;
}
.site-nav a {
    color:white;

}
.site-nav .current {
    color:hsl(40, 50%, 70%);
    text-decoration:overline;
}
.bubba {
    border:.5rem solid hsl(40, 30%, 50%);
    border-radius: 50%;
    display:block;
    margin: -4rem auto 0 auto;
}
p, li {
    color: rgb(0, 50, 0); 
    text-shadow: 0 1px 1px rgba(255, 255, 255, .4);
}
p {
    max-width: 45rem;
    margin: auto;
}
section {
    padding: 1rem;
}
.services {
    background: rgba(210, 210, 240, .6);
    margin:1rem auto;
    border-top-left-radius: 1rem;
border-bottom-right-radius: 1rem;
border-bottom-left-radius: 3rem;
box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .5);
border-top:1px solid #eee;
    //border-radius: .5rem;
}
h2 {
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, .5);
}
header h2 {
    background: rgba(50, 50, 50, .8);
    color: hsl(40, 50%, 60%);
    margin:0;
    padding: 1rem 0 0 0;
    text-shadow: 0px 2px 2px black;
}
.services h2 {
    border-bottom: 1px #aaa solid;
    padding-bottom: .2rem;
}
.contact {
    background-color: rgba(50, 50, 50, .7);
    color: hsl(40, 50%, 50%);
}

.contact p {
    text-align:center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, .6)
}
.contact a {
    color: hsl(40, 50%, 60%);
    font-size: 1.5rem;
}
.site-footer {
    background-color: hsla(50, 30%, 0%, .75);
    padding: 1rem;
    text-align: center;
}
.site-footer p {
    color: rgb(170,150,150);
    text-shadow: none;
}
@media screen and (min-width:720px){
    h1 {
        font-size:3rem;
    }
    .site-nav a {
        margin-right: 2rem;
    }
    .bubba {
        width:30%;
        max-width: 300px;
    }
}
