/* overall site formats for background, fonts, page spread */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #bb5d10;
    color: snow;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
}

/*navigation formatting */
.site-nav ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.site-nav a {
    color: snow;
}

h1 {
    font-size: 2.4rem;
    padding: 0.5rem;
}

h2 {
    margin: 3rem auto;
    padding: 1rem;
    text-align: center;
    background-color: olivedrab;
    color: wheat;
}

h3 {
    margin: 1rem auto;
    background-color: sienna;
    color: snow;
    padding: 1rem;
}

img {
    margin: 1rem;
    border: grey solid .5rem;
    padding: .5rem;
}

.disclaimer {
    background-color: sienna;
    color: #f7f3ec;
    padding: 1rem;
}

/* Resize for desktop screens only */
@media screen and (min-width: 600px) {

    .site-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}